@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f6ff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1)
}

.logout-btn {
    width: 100px;
    height: 35px;
    background: black;
    border: thin solid #000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(252, 252, 252);
    margin-left: 40px;
    margin-top: 9px;
    transition: .5s;
}

.logout-btn:hover {
    background: #4066e3;
}

.logout-btn ion-icon {
    position: relative;
    top: 2px;
    right: 4px;
    color: rgb(255, 255, 255);
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 490px;
    overflow: hidden;
    z-index: 2;
}

.report-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    width: 700px;
    height: 600px;
    padding: 40px;
    /*background: #fff; Optionaler Hintergrund*/
    transition: .3s ease-in-out;
}

.top h1 {
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 30px 0;
}


.two-forms {
    display: flex;
    gap: 15px;
}

.beschreibung-box .input-field {
    height: 100px;
}

.input-field {
    font-size: 17px;
    color: black;
    background: #ffffff;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: thin solid #000;
    outline: none;
    resize: none;
}

.input-field:hover,
.input-field:focus {
    background: hsl(227, 100%, 98%);
}

::-webkit-input-placeholder {
    color: rgb(185, 185, 185);
}

.submit {
    font-size: 17px;
    font-weight: 500;
    color: black;
    height: 60px;
    width: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    background: hsl(226, 84%, 81%);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #4066e3;
}